<div class="form">
    <div class="form-title">Player Registration</div>
    <img mat-dialog-close class="close-icon" src="/assets/close-icon2.png">
    <div class="input-nickname-block">
        <div class="nickname-text">Enter your nickname: </div>
        <input class="input-nickname" [(ngModel)]="user.nickname">
    </div>
    <div class="choose-color-block" *ngIf="!data?.hideColor">
        <div class="choose-color-text">Choose a color: </div>
        <mat-radio-group class="mat-radio-group" aria-label="Select an option" [(ngModel)]="user.color">
            <mat-radio-button [value]="1">Black</mat-radio-button>
            <mat-radio-button [value]="2">White</mat-radio-button>
            <mat-radio-button [value]="3">Random</mat-radio-button>
        </mat-radio-group>
    </div>
    <button mat-raised-button color="primary" class="register-btn" (click)="save()">Done</button>
</div>