.form {
    position: relative;
    background-color: #272522;
    height: 100%;
}

.form-title {
    color: whitesmoke;
    font-size: 24px;
    background-color: #161614;
    padding: 13px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 40px;
}

.close-icon {
    width: 19px;
    position:absolute;
    top: 13px;
    right: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.input-nickname-block {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nickname-text {
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    padding-right: 10px;
}

.input-nickname {
    font-size: 16px;
    text-align: center;
    color: black;
    border-style: hidden;
}

.choose-color-text {
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    padding-right: 10px;
}

.choose-color-block {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

.register-btn {
    background-color: #7FA650;
    border-radius: 60px;
    font-size: 24px;
    padding: 5px 50px;
    font-weight: 500;
    margin: 0 auto;
    display: block;
}

.mat-radio-button {
    margin-left: 10px;
}

.form ::ng-deep .mat-radio-label-content{
    color: whitesmoke;
}

.form ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
	background-color: #7FA650 !important;
}

.form ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: #7FA650!important;
}

.form ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color:#7FA650!important;
}