.game {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.start-game-block, .start-conection-block {
    flex-grow: 2;
}

.game-queue-block {
    flex-grow: 1;
}

.start-btn {
    background-color: #7FA650;
    border-radius: 60px;
    font-size: 30px;
    padding: 10px 20px;
    font-weight: 500;
    margin: 0 auto;
    display: block;
}

.conection-block {
    background-color: #272522;
    border-radius: 30px;
    max-width: 400px;
    height: 250px;
    margin: 0 auto;
}

.title-conection {
    background-color: #21201D;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.user-nickname {
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.chess-color-block {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    align-items: center;
}

.chess-color {
    color: whitesmoke;
    padding-right: 20px;
    font-size: 16px;
}

.chess-white, .chess-black {
    width: 20px;
}

.random-chess {
    width: 30px;
}

.user-nickname-text {
    display: inline;
    margin-left: 10px;
}

.mat-progress-spinner {
    margin: 0 auto;
    margin-bottom: 10px;
}

.wait-text {
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #7FA650;
}

.disconnect-btn {
    background-color: #7FA650;
    border-radius: 20px;
    font-size: 16px;
    padding: 2px 16px;
    font-weight: 500;
    margin: 0 auto;
    display: block;
}

.queue-block {
    background-color: #272522;
    max-width: 400px;
    margin: 0 auto;
}

.title-queue {
    background-color: #21201D;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    margin-bottom: 10px;
}

.queue-list {
    display: flex;
    justify-content: space-around;
}

.index {
    color: whitesmoke;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.queue-user-nickname {
    color:white;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 110px;
}

.queue-chess-color-block {
    margin-left: 10px;
    margin-right: 10px;
}

.join-btn {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #7FA650;
    border-radius: 20px;
    font-size: 15px;
    height: 25px;
    margin-top:5px;
    color:white;
    line-height: 0%;
}

.empty {
    width: 84px;
}

.empty-queue {
    height: 100px;
    display: flex;
    flex-direction: column;
}

.empty-queue-title {
    font-size: 20px;
    display: block;
    margin: 0 auto;
    background: linear-gradient(45deg, #ff0000 33%, #f3a800 66%, #f3e900);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.empty-queue-img {
    height: 60px;
}