<div class="game">
    <div *ngIf="!(color && nickname)" class="start-game-block">
        <button mat-raised-button color="primary" class="start-btn" (click)="openDialog()">Start Game</button>
    </div>
    <div *ngIf="color && nickname" class="start-conection-block">
        <div class="conection-block">
            <div class="title-conection">Connection</div>
            <div class="user-nickname">Nickname: <p class="user-nickname-text">{{nickname}}</p>
            </div>
            <div class="chess-color-block">
                <div class="chess-color">Color: </div>
                <img class="chess-white" *ngIf="color === 2" src="/assets/white.png">
                <img class="chess-black" *ngIf="color === 1" src="/assets/black.png">
                <img class="random-chess" *ngIf="color === 3" src="/assets/random.png">
            </div>
            <mat-progress-spinner [diameter]="35" mode="indeterminate"></mat-progress-spinner>
            <div class="wait-text">Please, wait!</div>
            <button mat-raised-button color="primary" class="disconnect-btn" (click)="deleteUser()">Cancel</button>
        </div>
    </div>
    <div class="game-queue-block">
        <div class="queue-block">
            <div class="title-queue">Queue of players</div>
            <div class="queue-list" *ngFor="let user of userList; let idx = index">
                <div class="index"><b>{{idx + 1}}</b></div>
                <div class="queue-user-nickname">
                    <p>{{user.username}}</p>
                </div>
                <div class="queue-chess-color-block">
                    <img class="chess-white" *ngIf="user.colorPreferred === 2" src="/assets/white.png">
                    <img class="chess-black" *ngIf="user.colorPreferred === 1" src="/assets/black.png">
                    <img class="random-chess" *ngIf="user.colorPreferred === 3" src="/assets/random.png">
                </div>
                <button mat-raised-button color="primary" class="join-btn" *ngIf="!user.isYou"
                    (click)="joinToGame(user.userGuid)">Join</button>
                <div class="empty" *ngIf="user.isYou"></div>
            </div>
            <div *ngIf="userList.length === 0" class="empty-queue">
                <img class="empty-queue-img" src="/assets/sad.svg">
                <div class="empty-queue-title">No other users</div>
            </div>
        </div>
    </div>
</div>