.form {
    position: relative;
    background-color: #272522;
    height: 100%;
}

.form-title {
    color: whitesmoke;
    font-size: 24px;
    background-color: #161614;
    padding: 13px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 25px;
}

.choose-figure-block {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.choose-btn {
    background-color: #7FA650;
    border-radius: 60px;
    font-size: 24px;
    padding: 4px 30px;
    margin: 0 auto;
    display: block;
}

.mat-radio-button {
    margin-left: 10px;
}

.form ::ng-deep .mat-radio-label-content{
    color: whitesmoke;
}

.form ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
	background-color: #7FA650 !important;
}

.form ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: #7FA650!important;
}

.form ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color:#7FA650!important;
}