<div class="form">
    <div class="form-title">Choose figure:</div>
    <div class="choose-figure-block">
        <mat-radio-group class="mat-radio-group" aria-label="Select an option" [(ngModel)]="figure">
            <mat-radio-button [value]="7">Knight</mat-radio-button>
            <mat-radio-button [value]="9">Bishop</mat-radio-button>
            <mat-radio-button [value]="10">Rook</mat-radio-button>
            <mat-radio-button [value]="50">Queen</mat-radio-button>
        </mat-radio-group>
    </div>
    <button mat-raised-button color="primary" class="choose-btn" (click)="save()">Done</button>
</div>