<div class="container">
    <header class="header" [ngClass]="{'won-header': data.result === 'won', 'lost-header': data.result === 'lost'}">
    </header>
    <div class="title" *ngIf="data.result === 'won'">You win!</div>
    <div class="title" *ngIf="data.result === 'lost'">You lost!</div>
    <button mat-raised-button color="primary" class="close-btn" (click)="close()"
        [ngClass]="{'close-won-btn': data.result === 'won', 'close-lost-btn': data.result === 'lost'}">Close</button>
</div>