.container{
    background-color: whitesmoke;
    height: 100%;
}

.header {
    clip-path: ellipse(65% 77% at 50% 22%);
    height: 40px;
}

.won-header {
    background-color: #7FA650;
}

.lost-header {
    background-color: #343434;
}

.title {
    color: black;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 35px;
    text-align: center;
}

.close-btn {
    border-radius: 20px;
    font-size: 20px;
    padding: 2px 20px;
    font-weight: 500;
    margin: 0 auto;
    display: block;
}

.close-won-btn {
    background-color: #7FA650;
}

.close-lost-btn {
    background-color: #343434;
}

