<div class="game-block">
    <div class="player-block">
        <div class="player-title">Player 1</div>
        <div class="player-info">Nickname: {{ user.username }}</div>
        <div class="player-info">Color: {{ user.color }}</div>
        <div class="player-move" *ngIf="currentMove === user.color">Your move</div>
        <button mat-raised-button color="primary" class="surrender-btn" (click)="surrender()">
            <div class="button-content">
                <div class="surrender-title">Surrender</div>
                <img class="surrender-icon" src="/assets/surrender.png">
            </div>
        </button>
    </div>
    <div class="board-border">
        <div class="top" [ngClass]="{'top-reverse': user.color === 'Black'}">
            <div *ngFor="let letter of letters">{{ letter }}</div>
        </div>
        <div class="bottom" [ngClass]="{'bottom-reverse': user.color === 'Black'}">
            <div *ngFor="let letter of letters">{{ letter }}</div>
        </div>
        <div class="left" [ngClass]="{'left-reverse': user.color === 'Black'}">
            <div *ngFor="let letter of letters; let i = index">{{ i + 1 }}</div>
        </div>
        <div class="right" [ngClass]="{'right-reverse': user.color === 'Black'}">
            <div *ngFor="let letter of letters; let i = index">{{ i + 1 }}</div>
        </div>
        <div class="chess-board">
            <ng-container *ngFor="let line of board; let numLine = index">
                <div class="cell" *ngFor="let cell of line; let numCell = index" (click)="getPosition(numLine, numCell)"
                    [ngClass]="getCellClasses(numLine, numCell)">
                    <img draggable="false" *ngIf="cell.value !== 'None'" [src]="getImageSrc(cell)"
                        [ngClass]="getImageClasses(cell)">
                </div>
            </ng-container>
        </div>
    </div>
    <div class="player-block">
        <div class="player-title">Player 2</div>
        <div class="player-info">Nickname: {{ opponent.username }}</div>
        <div class="player-info">Color: {{ opponent.colorPreferred }}</div>
        <div class="player-move" *ngIf="currentMove === opponent.colorPreferred">Opponent move</div>
    </div>
</div>