.game-block {
    display: flex;
    justify-content: space-around;
}

.board-border {
    position: relative;
    height: 676px;
    width: 676px;
    background-color: #3A1A0C;
    border: 5px solid #634833;
}

.top {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-evenly;
    transform: rotate(180deg);
    flex-direction: row-reverse;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 35px;
    width: 90%;
}

.top-reverse {
    flex-direction: row;
}
  
.left {
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 35px;
    height: 90%;
}

.left-reverse {
    flex-direction: column;
}

.right {
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: space-evenly;
    transform: rotate(180deg);
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 35px;
    height: 90%;
}

.right-reverse {
    flex-direction: column-reverse;
}

.bottom {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 35px;
    width: 90%;
}

.bottom-reverse {
    flex-direction: row-reverse;
}

.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 67px);
    grid-template-rows: repeat(8, 67px);
    justify-content: center;
    margin-top: 40px;
    user-select: none;
    border: 5px solid #634833;
    max-width: 536px;
    margin: 67.5px auto;
}

.cell {
    background-color: #F0D9B5;
}

.figure, .fog {
    width: 100%;
}

.figure {
    cursor: pointer;
}

.cell:nth-child(-n + 8):nth-child(even),
.cell:nth-child(n + 8):nth-child(-n + 16):nth-child(odd),
.cell:nth-child(n + 17):nth-child(-n + 24):nth-child(even),
.cell:nth-child(n + 25):nth-child(-n + 32):nth-child(odd),
.cell:nth-child(n + 33):nth-child(-n + 40):nth-child(even),
.cell:nth-child(n + 41):nth-child(-n + 48):nth-child(odd),
.cell:nth-child(n + 49):nth-child(-n + 56):nth-child(even),
.cell:nth-child(n + 57):nth-child(-n + 64):nth-child(odd) {
    background-color: #B58863;
}

.chess-board .cell.select {
    background-color: #258925;
}

.chess-board .cell.move::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 9.5px;
    background-color: #ccb89a;
    margin: 25px;
}

.chess-board .cell.fight {
    background-color: #d12323;
}

.player-block {
    background-color: #272522;
    height: 190px;
    width: 170px;
    margin-top: 30px;
    border-radius: 8px;
}

.player-title {
    background-color: #161614;
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
}

.player-info {
    color: whitesmoke;
    padding-top: 7px;
    padding-left: 10px;
    font-size: 15px;
}

.player-move {
    background-color: #258925;
    margin-top: 10px;
    text-align: center;
    padding: 2px;
    font-size: 16px;
}

.surrender-btn {
    background-color: brown;
    border: none;
    display: flex;
    padding: 6px;
    margin: 0 auto;
    margin-top: 15px;
}

.button-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.surrender-title {
    padding-right: 4px;
    font-size: 16px;
}

.surrender-icon {
    width: 22px;
}

.game-block ::ng-deep .mat-flat-button, .mat-raised-button {
    line-height: 18px;
}