@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.body {
    background-color: #312E2B;
}


